<!--公益课和活动列表页面-->
{% extends "home_base.html" %}
{% block mainContent %}
	<div class="container">
		<div class="margintopfixed">
			<div class="row">
				<div class="col-md-12 home-public-feed">
					<h3 class="home-public-feed-title">鸡看到鸡蛋被拿走为什么不生气？</h3>
					<img src="../static/images/feed3.jpg" class="img-rounded home-public-feed-poster">
					<hr>
				</div>
				<div class="col-md-12 home-public-feed">
					<h3 class="home-public-feed-title">鸡看到鸡蛋被拿走为什么不生气？</h3>
					<img src="../static/images/feed2.jpg" class="img-rounded home-public-feed-poster">
					<hr>
				</div>
				<div class="col-md-12 home-public-feed">
					<h3 class="home-public-feed-title">鸡看到鸡蛋被拿走为什么不生气？</h3>
					<img src="../static/images/feed1.jpg" class="img-rounded home-public-feed-poster">
					<hr>
				</div>
				<div class="home-public-feed">
					<button type="button" class="btn btn-default btn-lg btn-block home-more-button">更多..</button>
				</div>
				</div><!-- /.row -->
			</div>
		</div>
	{% end %}