<!--全局父模板，主要包括Nav，Footer，自定义CSS block，自定义JS block-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <title>{{ handler.title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    {% block customCSS %}{% end %}
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    {% block customJS %}{% end %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> -->
  </head>
  <!-- NAVBAR  ================================================== -->
  <body>
    <!--顶部导航-->
      {% module navbar(handler.currentUser, handler.nav_item) %}
        <!--导航结束-->
        {% block mainContent %}
        {% end %}
        <!-- FOOTER -->
        <footer>
          <div class="container">
            <div class="col-md-3 footer-itemborder">
              <h4>互联网+创业邀请赛</h4>
              <ul class="list-unstyled" style="text-align:center;">
                <li><a href="">加入我们</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">意见反馈</a></li>
              </ul>
            </div>
            <div class="col-md-3 footer-itemborder">
              <h4>联系我们</h4>
              <address  style="text-align:center;">
                <a href="mailto:#">first.last@example.com</a>
              </address>
            </div>
            <div class="col-md-3 footer-itemborder">
              <h4>合作伙伴</h4>
              <ul class="list-unstyled"  style="text-align:center;">
                <li><a href=""><img src="/static/images/leancloud.png"></a></li><br>
              </ul>
            </div>
            <div class="col-md-3">
              <div>
                <p style="text-align:center;color:grey;">&copy; 2015 ikr&middot;Jilin University&middot;China.&nbsp;1.0&nbsp;&nbsp; <a href="/admin" class="pull-right">Dashboard</a>
              </div>
            </div>
          </div>
        </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery-2.1.0.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/docs.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
      </body>
    </html>
