<!--活动和公益课Detail页面-->
{% extends "homt_base.html" %}
{% block mainContent %}
	<div class="container">
		<div class="margintopfixed">
			<div class="row">
				<div class="col-md-12" style="text-align:center;padding:0 200px;">
					<h3>鸡看到鸡蛋被拿走为什么不生气？</h3>
					<hr>
					<img src="../static/images/posterPage.png" class="img-rounded home-act-poster" >
					<p style="text-align:left;">要搞懂这个问题，你得先知道，鸡蛋其实是一个组合套装，里面除了卵子，还有蛋黄和蛋清——包含了卵子发育成破壳的小鸡所需的全套营养物质，外面还穿了蛋壳盔甲。
						鸡蛋不是鸡的月经哦，亲。人类月经四个星期来一次，假如第二个星期是排卵，那第四个星期才是月经流血。类比到鸡，她下的鸡蛋是第二个星期的产物，不是月经。这只是类比，因为鸡是没有月经之说的。
						好母鸡虽然整年都在下蛋，但大部分时间因为没机会跟公鸡交配，产下的都是未受精的蛋；但等母鸡和公鸡爱爱之后，下出来的就是受精蛋了，一般情况下，只有受精的鸡蛋才能孵化出小鸡。（说“一般”，是因为有特例，极少数情况下，卵子仅存的一条性染色体Z会自行复制为完整的雄性染色体ZZ，这样就能孵出小公鸡。）
						但母鸡自己分不清蛋有没有受精，她只认数量，当窝里的鸡蛋达到她想要的数目时，她就会开始孵。蛋被拿走了，她只能不辞辛劳地补产，这种生物学习性叫做不定数产卵——对人来说，要让鸡继续下蛋，只要及时取走鸡蛋，维持窝内的蛋数不足的状态就可以了；但你不能全部拿完，得留一两个在里面，这叫“引窝蛋”，其实你放一块和鸡蛋形状接近的白石头骗母鸡，她也认可的——不得不说，会数数的母鸡实在太可爱了。
						但站在母鸡的角度，你总是把她的蛋拿走，相当于在抢她的孩子，她何止是生气，简直把你恨得咬牙切齿，护蛋心切的母鸡，你敢动她的蛋，她也敢啄你的蛋。
						而且你要知道，护蛋意识很强的母鸡就象抠门的财主，她只允许你往她窝里放东西进入——哪怕你放的是鸭蛋、鹌鹑蛋，她都会照单全收地孵；但她无法容忍你从里面取走东西——哪怕你取的是引窝用的石头。
						所以有经验的人会趁着母鸡不在家的时候把她的蛋偷走，而有经验的母鸡会寸步不离地守着她的蛋。于是人鸡争蛋战上演了——人有棍棒扫帚，鸡有尖喙利爪。
						人鸡争蛋战中，毕竟人强鸡弱，最终护蛋无功，蛋被抢了，有的母鸡会哀鸣不已，食欲不振，甚至有的母鸡伤心欲绝，会连续一两周不下蛋——也就是月经（叫日经更合适）紊乱了。
						但也有的鸡坚强，会再接再厉，重新下蛋孵。而且有的江湖老鸡还学会了躲计划生育，偷偷跑去野外下受精蛋，二十多天不见，给你带回一窝小鸡来。对主人来说，这也算是意外的惊喜了。
					这不是绝对的，一种米养百样鸡，有的鸡是鸡中的二溜子，自己下没下蛋都不知道，下完蛋就自己跑去玩儿，对蛋不管不顾，我们称之为“丢蛋鸡”。《爸爸去哪里》里面用作道具的鸡之所以不生气，最有可能的原因是，她是这种二溜子鸡。</p>
				</div>
				</div><!-- /.row -->
			</div>
		</div>
	{% end %}